@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Open Sans', sans-serif;
}

.reveal h1,
.reveal h2 {

}

#map {
  width: 100%;
  height: 500px;
}

.leaflet-tile-container img {
  max-height: none !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-control-zoom a {
  line-height: 26px !important;
  font: bold 24px 'Lucida Console', Monaco, monospace;
}

.leaflet-fade-anim .leaflet-tile {
  margin: 0;
}
